section.banner
	.banner-inner
		.container
			.banner-container
				.banner-item
					.banner-caption
						i.fal.fa-check-circle.banner-caption-icon
						span.banner-caption-title #1 Editiors Choice App of 2020
					.block-heading
						h2.block-heading-title Best app for your <span>modern lifestyle</span> 
						p.block-heading-desc Increase productivity with a simple to-do app. app for managing
						.block-heading-btn.banner-btn
							a(href="#").button.button--primary Try for free
							a(href="#").button.button--nobg Try for free
				.banner-item
					img.banner-item-image(src="../images/img-banner.png")