section.brand
  .container
    h4.brand-heading Trusted by companies like
    .brand-inner
      .brand-inner-item
        img(src="../images/img-brand1.png").brand-inner-image
      .brand-inner-item
        img(src="../images/img-brand2.png").brand-inner-image
      .brand-inner-item
        img(src="../images/img-brand3.png").brand-inner-image
      .brand-inner-item
        img(src="../images/img-brand4.png").brand-inner-image
      .brand-inner-item
        img(src="../images/img-brand5.png").brand-inner-image
