section.design
  .container
    .design-inner
      .design-inner-item
        img.design-inner-image(src="../images/img-design.png")
      .design-inner-item
        +blockContent({
          title: "Designed & built by the latest code integration", 
          desc:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen",
          isbutton:true,
          btnText: "Learn More"
        })
