section.download
  .container
    .download-inner
      .download-inner-item
        h3.download-inner-item-title Download our App now !
        p.download-inner-item-desc.text anged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .download-inner-app
          img(src="../images/img-google-play.png").download-inner-app-icon
          img(src="../images/img-app-store.png").download-inner-app-icon
      .download-inner-item
        img(src="../images/img-download.png")