section.extra
  .container
    .extra-info
      .extra-info-title Get awesome features, without extra charges
      .extra-info-desc.text unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    .extra-buttons
      .extra-combo
        a.button.button--primary Monthly
        a.button.button--nobg.button--gray Annually
    .extra-pricing
      .extra-pricing-item
        .extra-pricing-box
          p.extra-pricing-month <span>$0</span> / month
          h4.extra-pricing-title Bussiness Class
          span.extra-pricing-desc.text For Best opportunities
        ul.extra-pricing-list
          li.extra-pricing-list-item.text Drag & Drop Builder  
          li.extra-pricing-list-item.text 1,000's of Templates
          li.extra-pricing-list-item.text Blog Support Tools 
          li.extra-pricing-list-item.text eCommerce Store
          a.button.button--primary.extra-pricing-btn Subscribe Now
      .extra-pricing-item
        .extra-pricing-box
          p.extra-pricing-month <span>$49</span> / month
          h4.extra-pricing-title Bussiness Class
          span.extra-pricing-desc.text For Best opportunities
        ul.extra-pricing-list
          li.extra-pricing-list-item.text Drag & Drop Builder  
          li.extra-pricing-list-item.text 1,000's of Templates
          li.extra-pricing-list-item.text Blog Support Tools 
          li.extra-pricing-list-item.text eCommerce Store
          a.button.button--primary.extra-pricing-btn Subscribe Now
          span.button.button--nobg.button--nopt Or Start 14 days trail
