section.feature
  .container
    .feature-inner
      .feature-inner-item
        img(src="../images/img-feature.png").feature-inner-image
      .feature-inner-item
        +blockContent({
          title:"Awesome apps features",
          desc: "Increase productivity with a simple to-do app. app for managing"
        })
        .feature-content
          .feature-content-item 
            .feature-content-inner.feature-content-inner--red
              img.feature-content-icon(src="../images/img-feature-icon1.png")
            .feature-content-list
              h3.feature-content-title.feature-content-title--red Fast Performance
              p.feature-content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but als
          .feature-content-item 
            .feature-content-inner.feature-content-inner--blue
              img.feature-content-icon(src="../images/img-feature-icon2.png")
            .feature-content-list
              h3.feature-content-title.feature-content-title--blue Prototyping
              p.feature-content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but als
          .feature-content-item 
            .feature-content-inner.feature-content-inner--green
              img.feature-content-icon(src="../images/img-feature-icon3.png")
            .feature-content-list
              h3.feature-content-title.feature-content-title--green Vector Editing
              p.feature-content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but als