footer.footer
  .container
    .footer-inner
      .footer-logo
        img.footer-logo-image(src="../images/img-logo.png")
      ul.footer-list
        li.footer-list-item
          a.footer-list-link(href="#") Home
        li.footer-list-item
          a.footer-list-link(href="#") Key Features 
        li.footer-list-item
          a.footer-list-link(href="#") Pricing
        li.footer-list-item
          a.footer-list-link(href="#") Testiminial
        li.footer-list-item
          a.footer-list-link(href="#") Faq
      ul.footer-icon
        li.footer-icon-item
          a.footer-icon-link(href="#")
            i.fab.fa-facebook-f
        li.footer-icon-item
          a.footer-icon-link(href="#")
            i.fab.fa-twitter
        li.footer-icon-item
          a.footer-icon-link(href="#")
            i.fab.fa-slack-hash
        li.footer-icon-item
          a.footer-icon-link(href="#")
            i.fab.fa-github-square
      span.footer-copyright Copyright© Arifur Rahman Tushar 2019. All rights reserved