header.header 
  .container
    .header-container
      a(href="#")
        img.header-logo(src="../images/img-logo.png")
      nav.header-menu
        //- i.fa.fa-bars.header-menu-toggle
        button.header-menu-toggle.hamburger
          span.bar
        ul.header-menu-list
          li.header-menu-item
            a.header-menu-link(href="#") Home
          li.header-menu-item
            a.header-menu-link(href="#") Key Features
          li.header-menu-item
            a.header-menu-link(href="#") Pricing
          li.header-menu-item
            a.header-menu-link(href="#") Testimicaicl
          li.header-menu-item
            a.header-menu-link(href="#") Faq
          li.header-menu-item
            a.button.button--primary(href="#") Try For Free