section.people
  .container
    .people-container
      .people-item
        img.people-item-image(src="../images/img-people.png")
      .people-item
        .people-content
          .people-content-item 
            h2.people-content-title Meet Client Satisfaction by using product
            .people-content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a
            .people-content-rating
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            h4.people-content-heading User friendly & Customizable
            p.people-content-info.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            .people-user
              .people-box
                img.people-user-avatar(src="../images/img-people-avatar.png")
                .people-user-info
                  h4.people-user-heading Zoltan Nemeth
                  span.people-user-job.text CEO of Pixler Lab
              //- .people-icon
              //-   i.fa.fa-arrow-left.people-icon-left
              //-   span.people-icon-spacing
              //-   i.fa.fa-arrow-right.people-icon-right
          .people-content-item 
            h2.people-content-title Meet Client Satisfaction by using product
            .people-content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a
            .people-content-rating
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            h4.people-content-heading User friendly & Customizable
            p.people-content-info.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            .people-user
              .people-box
                img.people-user-avatar(src="../images/img-people-avatar.png")
                .people-user-info
                  h4.people-user-heading Zoltan Nemeth
                  span.people-user-job.text CEO of Pixler Lab
              //- .people-icon
              //-   i.fa.fa-arrow-left.people-icon-left
              //-   span.people-icon-spacing
              //-   i.fa.fa-arrow-right.people-icon-right
