section.question
  .question-inner
    .container 
      .question-box
        h3.question-box-title Frequently asked questions
        p.question-box-desc.text ke a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
      .question-contact
        h4.question-contact-title How to contact with riders emergency?
        p.question-contact-desc.text ke a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
      ul.question-accordion
        li.question-accordion-item
          h3.question-accordion-item-title App installation failed, how to update system information?
          i.fal.fa-plus.question-accordion-item-icon
        li.question-accordion-item
          h3.question-accordion-item-title Website reponse taking time, how to improve?
          i.fal.fa-plus.question-accordion-item-icon
        li.question-accordion-item
          h3.question-accordion-item-title New update fixed all bug and issues
          i.fal.fa-plus.question-accordion-item-icon
        li.question-accordion-item
          h3.question-accordion-item-title How to contact with riders emergency?
          i.fal.fa-plus.question-accordion-item-icon