section.smart
  .container
    .smart-list
      .smart-list-item
        h3.smart-list-title Smart jackpots that you may love this anytime & anywhere
      .smart-list-item 
        p.smart-list-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
    .smart-inner
      +blockIcon({
        title:"Automatic Payouts",
        desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
        src:"../images/img-smart-icon1.png",
        attr:"red"
      }).smart-inner-item
      +blockIcon({
        title:"Automatic Payouts",
        desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
        src:"../images/img-smart-icon2.png",
        attr:"blue"
      }).smart-inner-item
      +blockIcon({
        title:"Automatic Payouts",
        desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
        src:"../images/img-smart-icon3.png",
        attr:"green"
      }).smart-inner-item
      //-   .block-inner-image.block-inner-image--red
      //-     image.smart-inner-icon(src="../images/img-smart-icon1.png")
      //-   .block-inner-content
      //-     h3.block-inner-title.block-inner-title--red Automatic Payouts
      //-     p.block-inner-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o
      //- .block-inner-item
      //-   .block-inner-image.block-inner-image--red
      //-     image.smart-inner-icon(src="../images/img-smart-icon1.png")
      //-   .block-inner-content
      //-     h3.block-inner-title.block-inner-title--red Automatic Payouts
      //-     p.block-inner-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o
      //- .block-inner-item
      //-   .block-inner-image.block-inner-image--red
      //-     image.smart-inner-icon(src="../images/img-smart-icon1.png")
      //-   .block-inner-content
      //-     h3.block-inner-title.block-inner-title--red Automatic Payouts
      //-     p.block-inner-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o

