section.ultimate
  .container
    .ultimate-inner
      .ultimate-item
        +blockContent({
          title:"Ultimate features that we built",
          desc: "The rise of mobile devices transforms the way we consume inform"
        })
        .ultimate-list
          .ultimate-list-item
            +blockIcon({
              title:"Automatic Payouts",
              desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
              src:"../images/img-why-icon.png",
              attr:"red"
            })
          .ultimate-list-item
            +blockIcon({
              title:"Automatic Payouts",
              desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
              src:"../images/img-why-icon4.png",
              attr:"green"
            })
          .ultimate-list-item
            +blockIcon({
              title:"Automatic Payouts",
              desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
              src:"../images/img-why-icon2.png",
              attr:"yellow"
            })
          .ultimate-list-item
            +blockIcon({
              title:"Automatic Payouts",
              desc:" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions o",
              src:"../images/img-why-icon5.png",
              attr:"light-blue"
            })
          a.button.button--primary See all
      .ultimate-item
        img(src="../images/img-ultimate.png").ultimate-item-image
