section.why
  .container
    +blockContent({
      title:"Why you should choose our app",
      desc:"The rise of mobile devices transforms the way we consume inform Lorem Ipsum is simply dummy text of the printing and t standard dummy text ever since the 1500s, ",
    }).why-container
    .why-list
      .why-list-item
        .why-list-box.why-list-box--red
          img(src="../images/img-why-icon.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from th
      .why-list-item
        .why-list-box.why-list-box--blue
          img(src="../images/img-why-icon1.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from th
      .why-list-item
        .why-list-box.why-list-box--yellow
          img(src="../images/img-why-icon2.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from th
      .why-list-item
        .why-list-box.why-list-box--green
          img(src="../images/img-why-icon3.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from th
      .why-list-item
        .why-list-box.why-list-box--light-blue 
          img(src="../images/img-why-icon4.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from thGet your blood tests delivered at home collect a sample from thGet your blood tests delivered at home collect a sample from thGet your blood tests delivered at home collect a sample from th
      .why-list-item
        .why-list-box.why-list-box--orange
          img(src="../images/img-why-icon5.png").why-list-image
        .why-list-content
          h3.why-list-content-title App Development
          p.why-list-content-desc.text Get your blood tests delivered at home collect a sample from th

