.smart {
  padding-top: 7rem;

  &-list {
    @include flexboxUpdate(
      (
        align-items: center,
        justify-content: space-between,
      )
    );
    padding-bottom: 11rem;
    &-item {
      width: 50%;
    }
    &-title {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1.4;
      padding-right: 7.7rem;
      padding-left: 5.5rem;
      margin-right: 5.5rem;
      border-right: 1px solid #eee;
      // @include textClamp(3);
    }
    &-desc {
      font-size: 1.6rem;
      line-height: 1.4;
      padding-right: 16.5rem;
      @include textClamp(3);
    }
  }
  &-inner {
    padding: 0 6rem;
    @include flexboxUpdate(
      (
        justufy-content: flex-start,
      )
    );
    margin-left: -12rem;
    &-item {
      width: calc(33.3% - 12rem);
      margin-left: 12rem;
      padding-bottom: 11rem;
    }
  }
  @include maxWidth(1023) {
    &-list {
      padding-bottom: 5rem;
      &-item {
        width: 100%;
      }
      &-title {
        font-size: 3rem;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
      }
      &-desc {
        padding-right: 0;
        padding-left: 3rem;
      }
    }
    &-inner {
      margin-left: -3rem;
      padding: 0;
      &-item {
        width: calc(33.3% - 3rem);
        margin-left: 3rem;
      }
    }
  }
  @include maxWidth(767) {
    padding-top: 2rem;
    &-list {
      flex-direction: column;
      padding-bottom: 3rem;
      &-item {
        width: 100%;
      }
      &-title {
        font-size: 2.5rem;
        border: none;
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #eee;
      }
      &-desc {
        font-size: 1.4rem;
        padding-right: 0;
        padding-left: 0;
      }
    }
    &-inner {
      margin-left: 0;
      padding: 0;
      @include touchSlider;
      &-item {
        width: 100%;
        margin-left: 0;
        padding-bottom: 3rem;
      }
    }
  }
}
