.ultimate {
  &-inner {
    @include flexboxUpdate(
      (
        justify-content: space-between,
        align-items: center,
      )
    );
  }
  &-item {
    width: 50%;
  }
  &-list {
    @include flexboxUpdate(
      (
        justify-content: space-between,
        flex-wrap: wrap,
      )
    );
    &-item {
      width: calc(50% - 55px);
    }
  }
  @include maxWidth(767) {
    &-inner {
      flex-direction: column-reverse;
    }
    &-item {
      width: 100%;
    }
    &-list {
      &-item {
        width: calc(50% - 15px);
      }
    }
  }
}
