extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	include blocks/banner
	include blocks/brand
	include blocks/feature
	include blocks/smart
	include blocks/design
	include blocks/why
	include blocks/ultimate
	include blocks/extra
	include blocks/people
	include blocks/question
	include blocks/download
